<section class="top">
  <header class="bg-primary text-light mb-4 py-3 flex-row align-center">
    <div class="container flex-row justify-space-between-lg justify-center align-center">
      <h1 class="m-0">The Tech Blog</h1>
    </div>
  </header>
</section>

<!-- Loop over each object in the posts array -->
<div class="container">
  {{#each posts as |post| }}
    <div class="row mb-4 post">
      <div class="col-md-5">
        <h2>
          <a href="/post/{{post.id}}" class="text-dark">{{post.title}}</a>
          <div >
            <h5>by {{post.user.username}}</h5>
            <h6>on {{format_date post.date_created}}</h6>
          </div>
        </h2>
      </div>
      <div class="col-md-7">
        <p>{{post.content}}</p>
      </div>
    </div>
  {{/each}}
</div>
